<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxxy.mlxc.business.mapper.PurchaseRecordDao">
    <resultMap id="RecordMap" type="com.jxxy.mlxc.business.api.dto.RecordsDto">
        <result column="id" jdbcType="BIGINTG" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="sum" jdbcType="DOUBLE" property="sum"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="decription" jdbcType="VARCHAR" property="decription"/>
        <result column="use_flag" jdbcType="INTEGER" property="useFlag"/>
        <result column="end_date" jdbcType="TIMESTAMP" property="endDate"/>
    </resultMap>
    <insert id="insertPurchaseRecord" parameterType="com.jxxy.mlxc.business.api.dto.PurchaseRecordDto" useGeneratedKeys="true" keyProperty="id">
        insert into purchase_record(user_id,product_id,price,sum,count,decription)
        values (#{userId},#{productId},#{price},#{sum},#{count},#{decription})
    </insert>
    <select id="listRecords" parameterType="com.jxxy.mlxc.business.api.query.RecordsQuery" resultMap="RecordMap">
        select t.id,t.user_id,u.user_name,t.product_id,p.name as product_name,t.price,t.sum,t.count,t.create_time,t.decription
        from purchase_record t
        left join product p on p.id=t.product_id
        left join users u on t.user_id=u.id
        where t.product_id=#{productId}
        <if test="userPhone!=null and userPhone!=''">
            and u.phone like concat('%',#{userPhone},'%')
        </if>
    </select>
    <!--<select id="RecordsQuery" parameterType="com.jxxy.mlxc.business.api.query.RecordsQuery" resultMap="RecordMap">
        select t.id,t.user_id,u.user_name,t.product_id,p.name as product_name,t.price,t.sum,t.count,t.create_time,t.decription
        from purchase_record t
        left join product p on p.id=t.product_id
        left join users u on t.user_id=u.id
        where t.user_id=#{userId}
    </select>-->
    <!--统计秒杀单-->
    <select id="countRecords" resultType="Integer">
        select count(t.id)
        from purchase_record t
        where t.user_id=#{userId} and t.product_id=#{productId} and t.is_seckill=1
    </select>
</mapper>