<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxxy.mlxc.auth.mapper.UserDAO">

	<resultMap id="userMap" type="com.jxxy.mlxc.auth.api.dto.UserDto">
		<result column="id" jdbcType="INTEGER" property="id"/>
		<result column="phone" jdbcType="VARCHAR" property="phone"/>
		<result column="password" jdbcType="VARCHAR" property="password"/>
		<result column="user_name" jdbcType="VARCHAR" property="userName"/>
		<result column="sex" jdbcType="INTEGER" property="sex"/>
		<result column="age" jdbcType="INTEGER" property="age"/>
		<result column="signature" jdbcType="VARCHAR" property="signature"/>
		<result column="role" jdbcType="INTEGER" property="role"/>
		<result column="role_name" jdbcType="VARCHAR" property="roleName"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
	</resultMap>
	<!-- <cache type="cn.myhexin.hwfour.redis.RedisCache"/> -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.jxxy.mlxc.auth.api.model.UserDO">
	    insert into users(phone,password,user_name,sex,age,signature,role) values(#{phone},#{password},#{userName},#{sex},#{age},#{signature},#{role})
	</insert>
	<sql id="baseUser">

	</sql>
	<update id="update" parameterType="com.jxxy.mlxc.auth.api.model.UserDO">
	    update users set 
	    <if test="userName!=null and userName!=''">
	    	user_name=#{userName},
	    </if>
	    <if test="sex!=null and sex!=''">
	    	sex=#{sex},
	    </if>
	    <if test="phone!=null and phone!=''">
	    	phone=#{phone},
	    </if>
	    <if test="password!=null and password!=''">
	    	password=#{password},
	    </if>
	    <if test="age!=null and age!=''">
	    	age=#{age},
	    </if>
	    <if test="signature!=null and signature!=''">
	    	signature=#{signature),
	    </if>
	    <if test="role!=null">
	    	role=#{role}
	    </if> where id=#{id}
	</update>
	
	<delete id="delete" parameterType="Long">
		delete from users where id=#{id}
	</delete> 
	<!-- 用于登录 -->
	<select id="getUserByPhone" resultMap="userMap" parameterType="String">
		select t.id,t.phone,t.password,t.user_name,u.role_name
		from users t
		left join role u on t.role=u.id
		where phone=#{phone}
	</select>
	<select id="select" resultMap="userMap" parameterType="Long">
		select * from users where id=#{id}
	</select>
</mapper>