<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.jxxy.mlxc.news.mapper.EntryDAO">
 	<resultMap type="com.jxxy.mlxc.news.api.dto.ActiveDto" id="ActiveMap">
 		<result column="id" jdbcType="INTEGER" property="id"/>
 		<result column="active_name" jdbcType="VARCHAR" property="activeName"/>
 		<result column="intro" jdbcType="VARCHAR" property="intro"/>
 		<result column="place" jdbcType="VARCHAR" property="place"/>
 		<result column="time" jdbcType="TIMESTAMP" property="time"/>
 		<result column="plotter" jdbcType="VARCHAR" property="plotter"/>
 		<result column="decription" jdbcType="VARCHAR" property="decription"/>
 		<result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
 		<result column="user_name" jdbcType="VARCHAR" property="createUserName"/>
 		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
 		<!-- <result column="is_call" jdbcType="INTEGER" property="isCall"/> -->
 	</resultMap>
	<resultMap id="userMap" type="com.jxxy.mlxc.news.api.dto.EntryUserDto">
		<result column="phone" jdbcType="VARCHAR" property="phone"/>
		<result column="user_name" jdbcType="VARCHAR" property="userName"/>
		<result column="sex" jdbcType="INTEGER" property="sex"/>
		<result column="age" jdbcType="INTEGER" property="age"/>
	</resultMap>
 	<insert id="insert" parameterType="com.jxxy.mlxc.news.api.model.EntryDO">
 		<selectKey resultType="Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into entry(entry_user_id,active_id) 
		values
		(#{entryUserId},#{activeId})
 	</insert>
 	<delete id="unEntry" parameterType="com.jxxy.mlxc.news.api.model.EntryDO">
 		delete from entry t where t.entry_user_id=#{entryUserId} and t.active_id=#{activeId}
 	</delete>
 	<!-- 1.根据活动查询出报名表
 	2.查询出该用户所报名的活动
 	-->
 	<select id="findUserActives" parameterType="com.jxxy.mlxc.news.api.query.EntryQuery" resultMap="ActiveMap">
 		select t.id,t.active_name,t.place,t.time,t.intro,t.plotter,t.decription,
 		t.create_user_id,a.user_name,t.create_time
 		from active t
 		left join users a on t.create_user_id=a.id
 		inner join entry b on b.active_id=t.id
 		where b.entry_user_id=#{entryUserId}
 	</select>
	<select id="isEntry" resultType="java.lang.Integer">
		select count(t.id) from entry t where t.entry_user_id=#{userId} and t.active_id=#{activeId}
	</select>
	<select id="findActiveUsers" parameterType="com.jxxy.mlxc.news.api.query.EntryQuery"  resultMap="userMap">
		select t.phone,t.user_name,t.sex,t.age,e.create_time
		from users t
		left join entry e on t.id=e.entry_user_id
		where e.active_id=#{activeId}
    </select>
 </mapper>